


.box{
    font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-size: larger;
    margin: 40px auto;
    background-color: rgb(29,229,146);
    width: 450px;
    padding: 80px 50px 100px 50px;
    border-radius: 5px;
    
}



.but-bus{
    background-color: white;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    border: none;
    padding: 9px 22px 9px 22px;
    border-radius: 20px;
    font-weight: 400;
    font-weight: 700;
    font-weight: bolder;

}



p{
    font-size: smaller;
}
